h1{
    text-align: center;
}
form{
    background-color: #05d4f8;
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}
input[type=text],input[type=date]{
    margin-left: 50px;
    width: 50%;
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
    float: right;
}

.b1{
    display: flex;
    margin-left: 150px;
}
.submit{
    button{
        width: 50px;
        height: 30px;
        background-color: #008b4c;
        margin-right: 40px;
    }


}
.clear {
    button {
        width: 50px;
        height: 30px;
        background-color: #0048ff;
    }
}
select{
    float: right;
    width: 52%;
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
}
label{
    width: 300px;

}
input[type=date]{
    margin-left: 80px;
    width: 50%;
    height: 20px;
    border-radius:5px;
    padding-left:5px;
}

textarea{
    float:right;
    width:51%;
}
.priority {
    float:right;
}
input[type=radio]{
    margin-left:25px;
}





