.myheading{
    color: #b305f8;
    font-size: 40px;
    background-color: #05d4f8;
}
.heading2{
    color: #ff00ae;
}
#three{
    color: #001c8b;
}
.first{
    background-color: #ff00ae;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.test{
    display: flex;
    background-color: #00868b;padding: 20px;
}
.p1{
    margin-left: 40px;
}
.main{
    display: flex;
}
.paragraph2{
    background-color: #78008b;
}
.paragraph3{
    background-color: #00868b;
}.paragraph4{
    background-color: #001c8b;
}
